#fixed-footer {
    position: fixed;
    bottom: 0;
    display: none;
}

#fixed-footer #navigation-button-container {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin-left: 2.5rem;
    margin-top: -20vh;
}

#fixed-footer #navigation-button-container button {
    background-color: #000;
    color: #fff;
    border: none;
    height: 156px;
    width: 156px;
    border-radius: 100px;
    font-size: large;
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-weight: 900;
    padding: 1rem;
    cursor: pointer;
}

#fixed-footer #menu-container {
    position: fixed;
    bottom: 0;
    right: -500px;
    width: 400px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2rem;
    backdrop-filter: blur(10px);
    border-top-left-radius: 10px;
}

#fixed-footer #menu-container h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-weight: 900;
}

#fixed-footer #menu-container ul {
    text-align: center;
    list-style: none;
    padding-left: 0;
}

#fixed-footer #menu-container ul > li {
    font-size: xx-large;
    font-family: var(--secondary-font);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 100%;
}

#fixed-footer #menu-container .menu-footer {
    display: flex;
    justify-content: space-between;
}

#fixed-footer #menu-container .menu-footer .column-1 {
    width: 150px;
}

#fixed-footer #menu-container .menu-footer .column-1 p {
    font-family: var(--secondary-font);
}

#fixed-footer #menu-container .menu-footer .column-1 ul {
    display: flex;
    justify-content: center;
    padding-left: 0;
    text-align: left;
}

#fixed-footer #menu-container .menu-footer .column-1 ul > li:nth-child(3) {
    margin-top: -0.2rem;
}

#fixed-footer #menu-container .menu-footer .column-2 {
    display: flex;
    justify-content: center;
}

#fixed-footer #menu-container .menu-footer .column-2 button {
    background-color: #fff;
    color: #000;
    border: none;
    height: 156px;
    width: 156px;
    border-radius: 100px;
    font-size: large;
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-weight: 900;
    padding: 1rem;
    cursor: pointer;
}

#fixed-footer #digital-files-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#fixed-footer #digital-files-container .column-1 {
    padding-top: 15rem;
    padding-left: 15rem;
    height: 100%;
    width: 40vw;
}

#fixed-footer #digital-files-container .description h1 {
    font-family: var(--primary-font);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 4rem;
    margin-top: 0;
}

#fixed-footer #digital-files-container .column-1 .description h3 {
    font-family: var(--secondary-font);
    font-weight: 100;
    font-size: 3rem;
}

#fixed-footer #digital-files-container .column-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 50vw;
    padding-top: 15rem;
}

#fixed-footer #digital-files-button-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin-left: 2.5rem;
    margin-top: -20vh;
}

#fixed-footer #digital-files-button-container button {
    background-color: #000;
    color: #fff;
    border: none;
    height: 156px;
    width: 156px;
    border-radius: 100px;
    font-size: large;
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-weight: 900;
    padding: 1rem;
    cursor: pointer;
}

#fixed-footer #info-container {
    position: fixed;
    bottom: 40px;
    right: -500px;
    width: 450px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2rem;
    backdrop-filter: blur(10px);
    border-top-left-radius: 10px;
    border-radius: 15px;
}

#fixed-footer #info-container h3 {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: x-large;
}

#fixed-footer #info-container #close-info {
    background-color: #fff;
    color: #000;
    border: none;
    height: 156px;
    width: 156px;
    border-radius: 100px;
    font-size: large;
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-weight: 900;
    padding: 1rem;
    cursor: pointer;
    float: right;
}

#digital-files {
    display: none;
}

#fixed-footer #digital-files-container .column-2 .digital-file-form {
    background-color: #fff;
    border: 3px solid #000;
    padding: 2rem;
    width: 30vw;
}

#fixed-footer #digital-files-container .column-2 .digital-file-form .email-input,
#fixed-footer #digital-files-container .column-2 .digital-file-form .code-input {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: x-large;
}

#fixed-footer #digital-files-container .column-2 .digital-file-form input {
    border: 3px solid #000;
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem;
    font-family: var(--secondary-font);
    font-weight: 900;
    font-size: x-large;
    text-transform: uppercase;
}

#fixed-footer #digital-files-container .column-2 .digital-file-form input:focus {
    outline: none;
}

#fixed-footer #digital-files-container .column-2 .digital-file-form button {
    background-color: #000;
    color: #fff;
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: x-large;
    text-transform: uppercase;
    padding: 1rem;
    border: none;
    width: 100%;
    cursor: pointer;
}

#fixed-footer #digital-files-container .column-2 .digital-file-form #error-container {
    font-family: var(--secondary-font);
    text-align: center;
    color: #ff0000;
}

@media (max-width: 768px) {
    #fixed-footer #navigation-button-container {
        margin-left: 0;
        width: 100vw;
        margin-top: -17vh;
    }

    #fixed-footer #navigation-button-container button {
        font-size: small;
        width: 100px;
        height: 100px;
    }

    #fixed-footer #navigation-button-container button:nth-child(1) {
        margin-left: 0.5rem;
    }

    #fixed-footer #navigation-button-container button:nth-child(2) {
        margin-right: 0.5rem;
    }

    #fixed-footer #menu-container {
        height: 100vh;
        width: 100vw;
        padding: 0;
        border-top-left-radius: 0;
    }

    #fixed-footer #menu-container .menu-footer {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 10rem;
    }

    #fixed-footer #menu-container .menu-footer .column-2 button {
        font-size: small;
        width: 100px;
        height: 100px;
        margin-top: 1.5rem;
    }

    #fixed-footer #digital-files-container {
        flex-direction: column;
        overflow-y: scroll;
    }

    #fixed-footer #digital-files-container .column-1 {
        padding-left: 0;
        width: 80vw;
        text-align: center;
    }

    #fixed-footer #digital-files-container .column-2 {
        padding-top: 0;
        padding-left: 0;
        width: 80vw;
        text-align: center;
        margin-top: 2rem;
    }

    #fixed-footer #info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 72vw;
    }

    #fixed-footer #info-container h3 {
        font-size: larger;
    }

    #fixed-footer #info-container #close-info {
        width: 100px;
        height: 100px;
        font-size: medium;
    }

    #fixed-footer #digital-files-container .column-2 .digital-file-form {
        width: 70vw;
        margin-bottom: 20vh;
        text-align: left;
    }

    #fixed-footer #digital-files-container .column-1 .description h1 {
        font-size: 2rem;
    }

    #fixed-footer #digital-files-container .column-1 .description h3 {
        font-size: 1rem;
    }

    #fixed-footer #digital-files-button-container {
        margin-left: 0;
        width: 95vw;
        margin-left: 2.5vw;
        margin-top: -17vh;
    }

    #fixed-footer #digital-files-button-container button {
        font-size: small;
        width: 100px;
        height: 100px;
    }
}